## Task: Predict number of bikers on a given day using linear regression

You are provided with a dataset about Seattle's Fremont Bridge in the form of a csv file.
The data contains different details about a given day, like weather, temperature and other factors (see the dataframe preview below) for more details. The data also contains how many bikers were observed crossing the brudge that day.

You are provided with the code to download and load the csv file.

Your task is to train a linear regression model which takes in the parameters of the day (you can drop the columns that you think you don't need) and predicts the number of bikers according to those parameters.

In [23]:
from IPython.display import clear_output

In [24]:
# Don't modify this code


%pip install gdown==4.5


clear_output()

In [25]:
# Download the CSV file.
!gdown 1_eJU8Y-31_l0oq1sSJT6pROJyo-ufuvD

Downloading...
From: https://drive.google.com/uc?id=1_eJU8Y-31_l0oq1sSJT6pROJyo-ufuvD
To: /home/ahmad/Downloads/bikers_data.csv
100%|████████████████████████████████████████| 213k/213k [00:04<00:00, 45.6kB/s]

In [26]:
import pandas as pd
import numpy as np

In [27]:
data_df = pd.read_csv('bikers_data.csv')

In [28]:
data_df.head()

,Date,Number of bikers,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
0,2012-10-03,14084.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.277359,0.0,56.0,1
1,2012-10-04,13900.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.219142,0.0,56.5,1
2,2012-10-05,12592.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.161038,0.0,59.5,1
3,2012-10-06,8024.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.103056,0.0,60.5,1
4,2012-10-07,8568.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.045208,0.0,60.5,1

In [29]:
data_y = data_df['Number of bikers'] # target
data_x = data_df.drop(['Number of bikers', 'Date'], axis=1) # features, dropping the object column

In [30]:
data_x.head()

,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,daylight_hrs,Rainfall (in),Temp (F),dry day
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.277359,0.0,56.0,1
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11.219142,0.0,56.5,1
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,11.161038,0.0,59.5,1
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,11.103056,0.0,60.5,1
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11.045208,0.0,60.5,1

In [31]:
data_y

0       14084.0
1       13900.0
2       12592.0
3        8024.0
4        8568.0
         ...
2641     4552.0
2642     3352.0
2643     3692.0
2644     7212.0
2645     4568.0
Name: Number of bikers, Length: 2646, dtype: float64

defining the functions needed for linear regression

In [32]:
def linear_regression(X, y):
    return np.linalg.inv(X.T @ X) @ X.T @ y
def loss_fn(y, y_hat):
    return 0.5 * np.mean((y - y_hat)**2)
def make_predections(X, lp):
    return X @ lp

In [33]:
# library to split the data
from sklearn.model_selection import train_test_split

In [34]:
#splitting the data into train and test splits
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.2, random_state=42)

In [35]:
# Normalizing the data
mus = X_train.mean()
sigmas = X_train.std()

X_train = ((X_train - mus) / sigmas).to_numpy()
X_test = ((X_test - mus) / sigmas).to_numpy()

# Adding the bias term
X_train = np.concatenate([np.ones((X_train.shape[0], 1)), X_train], axis=1)
X_test = np.concatenate([np.ones((X_test.shape[0], 1)), X_test], axis=1)

y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

In [36]:
# Training the model
learned_parameters = linear_regression(X_train, y_train)

In [37]:
#making predections using MSE
predictions = make_predections(X_test, learned_parameters)
print('Loss on test set: ', np.sqrt(loss_fn(y_test, predictions)))

Loss on test set:  1562.5107394022948